@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  font-family: "Poppins";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.cursor-pointer {
  cursor: pointer;
}
.hoverStyle:hover {
  border: 2px solid rgb(124, 133, 127);
  transition: 0.1s;
}
